.filter-bar-tm {margin-top: 0px;}
.filter-bar {
  background: #EDF2F0 url('../img/pattern4-3.png');
  padding: 5px 0;
  border: 1px solid lightgray;
  z-index: 30;
}
.button-container {margin-left: 10px;}
.newitem-button-container {margin: 10px 0;}

.padR-10 {padding-right: 10px;}
.marR-10 {margin-right: 10px;}
.search-icon {
  position: relative;
  left: 25px;
  color: #E4E4E4;
}
.clear-search-icon {
  position: relative;
  right: 25px;
  opacity: 0.5;
  /*top: 300px;*/
}
.clear-search-icon.invisible {
  position: relative;
  right: 25px;
  opacity: 0;
  /*top: 300px;*/
}
.items-search {
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  padding: 5px 0 5px 30px;
}
.rating-picker-wrapper {
  font-size: 1.6em;
  padding: 0 10px 0px 20px;
  cursor: pointer;
}
/*----- Centering & Cropping Images -----*/
.centerCrop {
  object-fit: cover;
  width: 100%;
  height: 219px;
}


.drop-box {
  border: 1px solid #6D7781;
  margin: 10px 0;
  padding: 50px 50px 10px;
  border-radius: 5px;
  height: 300px;
  cursor: pointer;
}

.glyphicon-upload {
    padding-top: 20px;
    font-size: 100px;
    opacity: 0.5;
}
