.text-area-padding, .chat-textarea {
  color: #aaa;
  border-radius: 5px;
  width: 95%;
  margin: -10px 10px 10px 10px;
  height: 48px;
}
.chat-list-item {
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  border-radius: 3px;
  background-color: #96CDBC;
  cursor: pointer;
  padding: 10px;
  margin: 0px -40px -25px;
  a {
    color: white;
  }
}
.text-area-padding {
  padding: 10px 0 10px 10px;
  resize: none;
  width: 95%;
  height:48px;
}
.chat-header {
  margin: 20px 0px 10px 0px;
  text-align: center;
}
.chat-message-box {
  border: 1px solid;
  border-radius: 5px;
  background-color: #96CDBC;
  margin: 10px;
  height: 250px;
  overflow: scroll;
}
.chat-message {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 10px -15px;
  padding: 10px;
  background-color: white;
}
.chat-message-sender {font-weight: bold;}
.chat-submit > button {display: inline;}
