.nav-tabs.nav-justified li:nth-child(3) {margin-right: 0px; left: 3px;}
.nav-tabs.nav-justified li:nth-child(2) {left: 2px;}
.nav-tabs.nav-justified {border-radius: 5px;}
.nav-tabs.nav-justified > li > a {
  margin-right: 3px;
  border: 1px solid rgb(235, 235, 235);
  border-bottom: 0px solid;
}
.nav-tabs.nav-justified > li > a:hover {
  background-color: #EBF6F0;
}

.nav-tabs.nav-justified > li > a:focus {
  background-color: #EBF6F0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  background-color: #F7FDFA;
  border-color: #C3E9E1;
  border-bottom: 0;
}
.stats-margin {margin-top: 40px;}
.stats-num {
  font-size: 2em;
  color: #1ab188;
}
.stats-desc {font-size: 1.07em;}
.dashboard-pic {
  border-radius: 50%;
  border: 5px solid #D0D1D0;
  margin-bottom: 10px;
}
.dashboard-card {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: white;
  /*background: #1ab188;*/
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li-rows {height: 35px;}
.edit {
  position: relative;
  float: left;
  font-size: 1.65em;
  left: 10px;
  /*top: 10px;*/
}
.remove {
	position: relative;
	float: right;
	font-size: 1.65em;
	/*top: 10px;*/
	right: 10px;
  vertical-align: middle;
	/*color: #50597b;*/
}
.remove:hover, .edit:hover {
	text-decoration: none;
	color: darkgreen;
	cursor: pointer;
}
