.overflow {overflow: hidden;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.z-index {z-index: 100;}
.pointer:hover {cursor:pointer;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.block {display: block !important;}
.dark-gray {color: #6A6A6A;}
.transparent {color: transparent;}
.padding-top {padding-top: 70px;}
.padding-top-percent {padding-top: 20vh;}
.top-margin {margin-top: 46px;}
.top-margin-sm {margin-top: 20px;}
.margin-left-12 {margin-left: 12%;}
.font-half-inc {font-size: 1.5em}
.100vh {height: 100vh;}
.ul-reset {list-style: none;}
.yellow {color: #F8DA82;}
.white {color: #FFFFFF;}
.bold-700 {font-weight: 700;}
