
.dev-logos {
  border: 1px solid gainsboro;
}
.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
}
.hamburger a, a:focus, a:hover {text-decoration: none;}
.mobile-logo {font-size: 1.2em; color: #1ab188;}
.mobile-nav li {display: block !important;}
.mobile-nav {height: 100vh !important; margin-top: 30%;}
.trans-button {margin: 7% 0 5% 10%; width: 200px;}
.update-dollar {font-size:1.35em;}
.main-logo {display: none;}
