/** {border: 1px solid red !important;}*/
body {font-family: 'Open Sans', sans-serif; font-weight: 300;}
.li-rows {height: 35px;}
.edit {
  position: relative;
  float: left;
  font-size: 1.65em;
  left: 10px;
  /*top: 10px;*/
}
.remove {
	position: relative;
	float: right;
	font-size: 1.65em;
	/*top: 10px;*/
	right: 10px;
  vertical-align: middle;
	/*color: #50597b;*/
}
.remove:hover, .edit:hover {
	text-decoration: none;
	color: darkgreen;
	cursor: pointer;
}

/*----- Override ------*/
.btn:focus {outline: none;}
.btn-lg {padding: 8px 6px;}
.btn-home-wrapper {margin-top: 0;}

@import 'helpers';
@import 'extended-bootstrap';
@import 'item-description';
@import 'google-maps';
@import 'all-items';
@import 'angular';
@import 'auth-forms';
@import 'home';
@import 'backgrounds';
@import 'calendar';
@import 'chat';
@import 'forms';
@import 'dashboard-current-listings';
@import 'dashboard';
@import 'ratings';
@import 'mobile';




/*----- Helpers ------*/
/*----- bootstrap ------*/
/*----- Item Description ------*/

/*----- Main Nav ------*/
menu {padding:0; margin:0;}
.main-nav-wrapper {
  background: white;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  background-image: none;
  width: 100%;
  z-index: 100;
}

/*----- Google Maps Style ------*/
/*----- All Items ------*/
/*----- Sign In Sign Up Form -----*/
/*---- Home Search -----*/
/*---- Background Images -----*/

/*---- Favorite Buttons -----*/
.favorited, .favorited:focus, .favorited:hover {
  background-color: #DCF4ED;
}

/*----- Calendar Styling -----*/
/*---- Chat/Message Style -----*/
/*----- Photo Loading Bar -----*/
/*----- Current Listings -----*/
/*----- Dashboard -----*/
/*----- Mobile -----*/

/*---- About ----*/
.profile-pic {
  border-radius: 50%;
}
@import 'media-queries';
