@import 'helpers';
@import 'extended-bootstrap';
@import 'item-description';
@import 'google-maps';
@import 'all-items';
@import 'angular';
@import 'auth-forms';
@import 'home';
@import 'backgrounds';
@import 'calendar';
@import 'chat';
@import 'forms';
@import 'dashboard-current-listings';
@import 'dashboard';
@import 'ratings';
@import 'mobile';

body {font-family: 'Open Sans', sans-serif; font-weight: 300;}
/*----- Fixes Spacing Issues With Angular Menu Directive ------*/
menu {padding:0; margin:0;}
a {
 text-decoration: none;
 color: #1ab188;
 transition: .5s ease;
 &:hover {
   color: #179b77;
 }
}
/*----- Main Nav ------*/
.main-nav-wrapper {
  background: white;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  background-image: none;
  width: 100%;
  z-index: 100;
}

/*---- About ----*/
.profile-pic {
  border-radius: 50%;
}
@import 'media-queries';
