<div class="container-fluid main-nav-wrapper">
  <ul ng-class="{'mobile-nav': hamburgerStatus}" class="main-nav">
    <a class="fa fa-tree main-logo" href="/#/"> ShareAustin</a>
    <!-- <li><a href="/#/">ShareAustin</a></li> -->
    <li><a href="/#/about">About</a></li>
    <li><a href="/#/all-listings">All Items</a></li>
    <li><a href="/#/new-listing">Post Item</a></li>
    <li><a href="/#/dashboard">Dashboard</a></li>
    <li><a href="/#/chatList">Messages</a></li>
    <li ng-hide="isLoggedIn"><a href="/#/auth">Log In</a></li>
    <li ng-hide="!isLoggedIn"><a ng-click="logOut()" href="">Log Out</a></li>
    <p ng-show="!hamburgerStatus" class="mobile-logo visible-xs-block">ShareAustin</p>
  </ul>
    <a ng-click="hamburgerToggle()" class="fa fa-bars hamburger"></a>
</div>
