.top-margin {
  margin-top: 50px;
}
.ul-reset {
  list-style: none;
  /*padding-left: 20px;*/
}
.li-rows {
  height: 35px;
}
.edit {
  position: relative;
  float: left;
  font-size: 1.65em;
  left: 10px;
  top: 3px;
}
.remove {
	position: relative;
	float: right;
	font-size: 1.65em;
	top: 3px;
	right: 10px;
	/*color: #50597b;*/
}
.remove:hover, .edit:hover {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
}
.block {display: block;}
/*----- Helpers ------*/
.inline {display: inline;}

/*----- Main Nav ------*/
.main-nav-wrapper {
  /*position: fixed;*/
}
.main-nav {
  border-bottom: 1px solid #eee;
  /*height: 30px;*/
  display: block;
  padding: 10px;
  margin-bottom: 0;
}
.main-nav li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
  font-size: 1.25em;
}

/*----- Item Description ------*/
/*.item:nth-child(even) {padding-right: 20px;}*/
.item-title-desc {
  padding: 15px 0;
}
.item-title-wrapper {padding: 15px 0;}

/*----- All Items ------*/
.google-map {
  height: 95vh;
  width: 100%;
}

/*----- Centering & Cropping Images -----*/
.centerCrop {
  object-fit: cover;
}
