<div ng-include="'shared/navigation.html'"></div>
<div class="container">
  <div class="row text-center item-title-wrapper">
    <h2 class="inline text-center item-title-desc">{{item.name}} ${{item.price_per_day}}</h2>
    <!-- <span>{{item.price_per_day}}</span> -->
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <img class="img-responsive" src="http://www.hitchsafe.com/Applications/Canoe-Accessories.jpg">
    </div>
    <div class="col-sm-5">
      <form id="rentItem">
        <label>Title:</labeL><br>
        <input type="text" ng-model='item.name'/><br>
        <label>Description:</labeL><br>
        <textarea rows="4" cols="50" style="resize: none" form="rentItem" placeholder="Enter a brief description here ..." ng-model='item.description'></textarea><br>
        <label>Address:</label><br>
        <input type="text" ng-model='item.address'/><br>
        <label>Price Per Hour:</labeL><br>
        <input type="text" ng-model='item.price_per_hour'/><br>
        <label>Price Per Day:</labeL><br>
        <input type="text" ng-model='item.price_per_day'/><br>
        <button>Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-2">
      <h2>Description</h2>
      <p>{{item.description}}</p>
    </div>
  </div>
</div>
