<div ng-include="'shared/navigation.html'"></div>
<div class="home-bg">
  <!-- <div class="grid-bg"></div> -->
  <div class="home-search-wrapper">
    <h2 class="home-title">What Do You Need Today?</h2>
    <p class="home-sub-title"> Find what you need for as long as you need it</p>
    <form>
      <input ng-model="search" class="home-search-bar" type="text"> <br>
      <row>
        <div class="top-margin-sm">
          <button ng-click="sendSearch(search)" class="btn btn-green btn-xxl marR-10">Search Items</button>
          <button ng-click="sendSearch('')" class="btn btn-ghost-white btn-xxl">See All Items</button>
        </div>
    </form>
  </div>
</div>
