<div ng-include="'shared/navigation.html'"></div>
<div class="container top-margin">
 <div class="row">
   <div class="col-sm-4">
    <img ng-src="{{item.photo_url}}" width="75%" height="75%">
   </div>
   <div class="col-sm-4">
   <!-- RENTAL INFO FORM -->
      <h4>Rental Information</h4>
      <label>Item: {{item.name}}</label><br>
      <label ng-model="item">Price Per Hour: ${{item.price_per_hour || 0}}</label><br>
      <label ng-model="item">Total: ${{rentalPrice() || 0}}</label>
      <form>
        <fieldset>
          <div class="input-group">
              <label>Start Date</label><br>
              <input type="date" class="datepicker" datepicker-popup ng-model="rentalStartDate"/>
              <input type="time" ng-model="rentalStartDate"
       placeholder="HH:mm" step="900"/>
          </div>
          <div class="input-group">
              <label>End Date</label><br>
              <input type="date" class="datepicker" datepicker-popup ng-model="rentalEndDate"/>
              <input type="time" ng-model="rentalEndDate"
       placeholder="HH:mm" step="900"/>
          </div>
        </fieldset>
      </form>
    </div>

    <!-- PAYMENT FORM -->
    <div class="col-sm-4">
      <h4>Payment Information</h4>
      <form stripe:form="saveTransaction">
        <fieldset>
          <label>Card Number</label><br>
          <input type="text" size="20" data-stripe="number" value="4242424242424242"/><br>
          <label>Expiration Date</label><br>
          <input type="text" size="2" data-stripe="exp-month" value="01"/>
          <input type="text" size="4" data-stripe="exp-year" value="2016"/><br>
          <label>CVC</label><br>
          <input type="password" size="3" data-stripe="cvc" value="123"/><br><br>
        </fieldset>
        <button type="submit" class="btn btn-info">Submit Rental</button>
      </form>
    </div>
  </div>
</div>
