<!-- Shows each of user's current listings -->
<div class="current-list">
    <ul class="ul-reset item-desc-list no-p-l dash-zebra" >
      <li ng-repeat="item in listings" ng-show="item.active === true">
        <a ng-click="removeItem(item)" class="fa fa-times remove"></a>
        <a ng-click="updateItem(item)" class="fa fa-pencil edit"></a>
        <span class="li-rows-l-padding">{{item.name }}</span>
        <span class="li-rows-v-align">{{item.price_per_day | currency}}</span>
      </li>
    </ul>
</div>
