<div ng-repeat="soldTransaction in soldTransactions" >
  <a class="fa fa-times remove"></a>
  <a class="fa fa-pencil edit"></a>
  <ul class="ul-reset">
    <li class="li-rows">
      <span>{{soldTransaction.item_id}}</span>
    </li>
  </ul>
</div>

<div ng-repeat="boughtTransaction in boughtTransactions" >
  <a class="fa fa-times remove"></a>
  <a class="fa fa-pencil edit"></a>
  <ul class="ul-reset">
    <li class="li-rows">
      <span>{{boughtTransaction.item_id}}</span>
    </li>
  </ul>
</div>

<!-- <div ng-repeat="transaction in transactions" >
  <a class="fa fa-times remove"></a>
  <a class="fa fa-pencil edit"></a>
  <ul class="ul-reset">
    <li class="li-rows">
      <span>{{transaction}}</span>
    </li>
  </ul>
</div>
 -->