<div class="trans-list">
  <div ng-repeat="soldTransaction in soldTransactions" >
    <ul class="ul-reset item-desc-list no-p-l">
      <li class="">
        <span class="li-rows-transaction-date">{{soldTransaction.payment_date.substr(0,10)}}</span>
        <span class="li-rows-l-padding"> You earned ${{soldTransaction.price}} for your rental</span>
        <span ng-class="{static: boughtTransactions[$index].display === 'Complete'}" class="pull-right li-rows-transaction-msg" ng-click="statusFunctionality(soldTransaction)">{{ soldTransaction.display }} <span>
      </li>
    </ul>
  </div>

  <div ng-repeat="boughtTransaction in boughtTransactions" track by $index>
    <ul class="ul-reset item-desc-list no-p-l">
      <li class="">
        <span class="li-rows-transaction-date">{{boughtTransaction.payment_date.substr(0,10)}}</span>
        <span class="li-rows-l-padding"> You paid ${{boughtTransaction.price}} to rent an item</span>
        <span ng-class="{static: boughtTransactions[$index].display === 'Complete'}" class="pull-right li-rows-transaction-msg" ng-click="statusFunctionality(boughtTransaction)"> {{ boughtTransaction.display }} <span>
      </li>
    </ul>
  </div>
</div>

