<!-- Navigation bar -->
<div ng-include="'shared/navigation.html'"></div>
<div class="auth-bg padding-top-percent">
	<div class="auth-form">
	  <!-- Window for Login/SignUp -->
	  <p class="auth-form-headline">ShareAustin</p>
	  <ul class="tab-group">
	  	<!-- See signin.js  -->
	    <li ng-click="change('logIn')" ng-class="active ? 'active' : ''" class="tab"><a ui-sref=".signin">Log In</a></li>
	    <!-- See dignup.js  -->
	    <li ng-click="change('signUp')" ng-class="active ? '' : 'active'" class="tab"><a ui-sref=".signup">Sign Up</a></li>
	  </ul>
	  <div ui-view=""></div>
	</div>
</div>
