<div class="col-sm-3 col-sm-offset-1">
  <form class="top-margin" novalidate>
    <!-- <p>New Account!</p> -->
    <label>First Name</label><br>
    <input type="text" ng-model="user.first_name"/><br>
    <label>Last Name</label><br>
    <input type="text" ng-model="user.last_name"/><br>
    <label>Email</label><br>
    <input type="text" ng-model="user.email"/><br>
    <label>Password</label><br>
    <input type="password" ng-model="user.password"/><br>
    <button ng-click="submitSignUp(user)" class="top-margin-sm btn btn-primary btn-md">Submit</button>
  </form>
</div>
