<!-- Sigm Up, this is a nested view of auth.js -->
<form ng-submit="submitSignUp(user)" name="signup" novalidate>
  <div class="top-row">
    <!-- First name form -->
    <div class="field-wrap">
      <label><span class="req">*</span>First Name</label>
      <input type="text" ng-model="user.first_name" required />
    </div>
    <!-- Last name form -->
    <div class="field-wrap">
      <label><span class="req">*</span>Last Name</label>
      <input type="text" ng-model="user.last_name" required/>
    </div>
  </div>
  <!-- Email Address form -->
  <div class="field-wrap">
    <label>
      <span class="req">*</span>
      Email Address
      <span ng-show="signup.email.$invalid && signup.email.$touched" class="form-warning">Must Be A Valid Email</span>
    </label>
    <input type="email" name="email" ng-model="user.email" required/>
  </div>
  <!-- Password Form -->
  <div class="field-wrap">
    <label>
      <span class="req">*</span>
      Password
      <span ng-show="signup.password.$invalid && !signup.password.$pristine" class="form-warning">Must Be At Least 8 Characters</span>
    </label>
    <input type="password" name="password" ng-model="user.password" ng-minlength="8" required/>
  </div>
  <button type="submit" class="button button-block" ng-disabled="signup.$invalid"/>Get Started</button>
</form>
