<!-- Navigation bar -->
<menu></menu>
<!-- Main page -->
<div class="container padding-top transparent-form-body">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <h2 class="">Update Listing</h2>
        <!-- Form -->
        <form id="newListingForm" class="transparent-form">
          <input type="text" placeholder="Title" ng-model='item.name'/><br> <!-- Name -->
          <input type="text" placeholder="Address" ng-model='item.address'/><br> <!-- Adress -->
          <span class="update-dollar">$</span><input type="text" placeholder="Price Per Day" ng-model='item.price_per_day'/><br> <!-- Price per day -->
          <textarea rows="4" cols="50" style="resize: none" form="newListingForm"
            placeholder="Enter a brief description here ..." ng-model='item.description'> <!-- Item description -->
          </textarea><br>
          <button ng-click="editItem(item)" class="btn btn-lg btn-green">Submit</button> <!-- Submit button -->
        </form>
      </div>
      <!-- Drag and drop for photos-->
      <div class="col-sm-4 col-sm-offset-1 text-center">
        <h2 class=" m-b-lg">Upload Item Photos</h2>
          <div ngf-drop ngf-select ng-model="files" ngf-multiple="true" ngf-stop-propagation="true" class="drop-box">
            <p>Click Here or Drag & Drop to Upload {{files.length}}</p>
            <span class="glyphicon glyphicon-upload light-purple" aria-hidden="true"></span>
          </div>
        </div>
    </div>
</div>
