<div ng-include="'shared/navigation.html'"></div>
<div class="container padding-top">
   <div class="row">
     <div class="col-sm-4 col-sm-offset-1">
      <h2>Update Listing</h2>
        <form id="newListingForm">
          <label>Title:</labeL><br>
          <input type="text" ng-model='item.name'/><br>
          <label>Description:</labeL><br>
          <textarea rows="4" cols="50" style="resize: none" form="newListingForm" placeholder="Enter a brief description here ..." ng-model='item.description'></textarea><br>
          <label>Address:</label><br>
          <input type="text" ng-model='item.address'/><br>
          <label>Price Per Hour:</labeL><br>
          <input type="text" ng-model='item.price_per_hour'/><br>
          <label>Price Per Day:</labeL><br>
          <input type="text" ng-model='item.price_per_day'/><br>
          <!-- <button ng-click="addPhoto(item)">Add Photo</button><br> -->
          <button ng-click="editItem(item)" class="btn btn-md btn-primary">Submit</button>
        </form>
      </div>
          <div class="col-sm-4 col-sm-offset-1 text-center">
            <div ngf-drop ngf-select ng-model="files" ngf-multiple="true" ngf-stop-propagation="true" class="drop-box">
              <p>Click Here or Drag & Drop to Upload {{files.length}}</p>
              <span class="glyphicon glyphicon-upload light-purple" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>
