<div ng-include="'shared/navigation.html'"></div>
<div class="container top-margin">
   <div class="row">
     <div class="col-sm-3 col-sm-offset-4">
      <h2>Update Listing</h2>
        <form id="newListingForm">
          <label>Title:</labeL><br>
          <input type="text" ng-model='item.name'/><br>
          <label>Description:</labeL><br>
          <textarea rows="4" cols="50" style="resize: none" form="newListingForm" placeholder="Enter a brief description here ..." ng-model='item.description'></textarea><br>
          <label>Address:</label><br>
          <input type="text" ng-model='item.address'/><br>
          <label>Price Per Hour:</labeL><br>
          <input type="text" ng-model='item.price_per_hour'/><br>
          <label>Price Per Day:</labeL><br>
          <input type="text" ng-model='item.price_per_day'/><br>
          <!-- <button ng-click="addPhoto(item)">Add Photo</button><br> -->
          <div class="row">
            <div ngf-drop ngf-select ng-model="files" ngf-multiple="true" ngf-stop-propagation="true" class="drop-box"><h4>
              Click Here or Drag & Drop to Upload</h4>
              <span class="glyphicon glyphicon-upload light-purple" aria-hidden="true"></span>
            </div>
          </div>
          <button ng-click="editItem(item)">Submit</button>
        </form>
      </div>
    </div>
  </div>
