<form ng-submit="submitSignUp(user)" novalidate>
  <p>Sign Up</p>
  <label>First Name</label><br>
  <input ng-model="user.first_name" type="text"/><br>
  <label>Last Name</label><br>
  <input ng-model="user.last_name" type="text"/><br>
  <label>Username</label><br>
  <input ng-model="user.username" type="text"/><br>
  <label>Email</label><br>
  <input ng-model="user.email" type="text"/><br>
  <label>Password</label><br>
  <input ng-model="user.password" type="password"/><br>
  <button >Submit</button>
</form>
