<div ng-include="'shared/navigation.html'"></div>
<div class="container transparent-form-body">
  <div class="row text-center item-title-wrapper top-margin">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Add Photos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
    	<div ngf-drop ngf-select ng-model="files" ngf-multiple="true" ngf-stop-propagation="true" class="drop-box">
    		<h4>Drag and Drop or Click Here to Add Photos Your Photos</h4>
    	  <div class="row"><span class="glyphicon glyphicon-upload light-purple" aria-hidden="true"></span></div>
      </div>
      	<div class="row"><button class="btn btn-lg btn-green" ng-click="update()">Done</button></div>
    </div>
  </div>
</div>
