<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <h2>{{ item.name }}</h2>
    <div class="chat-messages">
      <ul class="list-unstyled p-l-sm" ng-repeat="message in chat.messages">
        <li>{{message.sender.first_name}} {{message.sender.last_name}}: {{message.text}}</li>
      </ul>
    </div>
    <div class="chat-submit">
      <form>
        <textarea rows="1" cols="50" placeholder="Enter your message here" ng-model='message' class="inline-block text-area-padding"></textarea>
        <button class="btn btn-lg btn-green chat-submit" ng-click="sendMessage()">Send</button>
        <button class="btn btn-lg btn-green inline" ng-click="leave()">Leave</button>
      </form>
    </div>
 </div>
</div>
