<div ng-include="'shared/navigation.html'"></div>
<div class="container padding-top">
  <div class="row">
    <div><h1>{{title}}</h1></div>
            
      <div class="col-sm-6" ng-repeat="rentChat in rentChats">
        <ul>
          <li>
        <a ui-sref=".chat" ng-click="joinRoom(rentChat)">enter chat</a>
  	    <span>Rent: {{rentChat.item_id}}, {{rentChat.buyer_id}}</span>
  	  </li>
        </ul>
      </div>
  
      <div class="col-sm-6" ng-repeat="sellChat in sellChats">
        <ul>
          <li>
        <a ui-sref=".chat" ng-click="joinRoom(sellChat)">enter chat</a>
  	    <span>Sell: {{sellChat.item_id}}, {{sellChat.buyer_id}}</span>
  	  </li>
        </ul>
      </div>
 
    <div ui-view="">
    </div>
 
  </div>
    
</div>


