<div ng-include="'shared/navigation.html'"></div>
<div class="container padding-top">
  <div class="row">
    <div><h1>{{title}}</h1></div>
            
      <div class="col-sm-6">
        <h2>My items</h2>
        <ul ng-repeat="chat in buyerChats">
          <li>
            <a ui-sref=".chat" ng-click="joinRoom(chat)">enter chat</a>
  	        <span>Rent: {{chat.item_id}}, {{chat.buyer_id}}</span>
  	      </li>
        </ul>
      </div>
  
      <div class="col-sm-6" >
        <h2>Im interested in</h2>
        <ul ng-repeat="chat in sellerChats">
          <li>
            <a ui-sref=".chat" ng-click="joinRoom(chat)">enter chat</a>
  	        <span>Sell: {{chat.item_id}}, {{chat.buyer_id}}</span>
  	      </li>
        </ul>
      </div>
 
    <div ui-view="">
    </div>
 
  </div>
    
</div>


