<div ng-include="'shared/navigation.html'"></div>
<div class="container top-margin">
   <div class="row">
     <div class="col-sm-3 col-sm-offset-5">
        <form novalidate>
          <p>Sign In</p>
          <label>Email</label><br>
          <input type="text" ng-model="user.userName"/><br>
          <label>Password</label><br>
          <input type="password" ng-model="user.password"/><br>
          <button ng-click="submitSignIn()">Submit</button>
        </form>
      </div>
  </div>
</div>
